.h3{
	font-weight: bold;
}
.p{
	text-decoration: underline;
}
}
#box1{
	
	margin-bottom: 0px;
	background-color: #232f3e;

}
#box2{
	width: 300px;
    padding: 25px;
    margin-top: 50px;
    margin-left: 430px;
	text-align: center;
	background-color: #DCDCDC;
	border: 1px solid silver;
}
    

.login:hover{
	color:;


}
#box2 input{
      border-radius: 10px;
}
#box2 login{

	font-size: 14px
}
a:hover{
	color: red;
	text-decoration: underline;

}


.color{
	background-color: #3c3c3c
}






